/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2017, 11:51:49 AM
    Author     : Artista
*/
#titleVbox{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #03a9f4, #007ac1);
    -fx-border-radius: 6;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 10), 15, 0.5, 0, 0);
}

#titlePane{
    -fx-background-color: #007ac1;
}

.borderPane {    
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
    -fx-background-image: url("pics\bg.jpg");
}

.anchorPane{
    -fx-background-image:url('bg.jpg');
}

#titleLbl{
    -fx-font-family: Gill Sans / Gill Sans MT, sans-serif;
    -fx-font-size: 17px;
}

#footerPane{
    -fx-background-color: #dfdfdf;
}

#leftPane{
   
}

.buttonbar{ 
    -fx-background-radius: 80;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-size: 8px;
}

#buttonExit{
    -fx-background-color: #EB443C,linear-gradient(#EB443C 50%, white 100%),radial-gradient(center 50% -40%, radius 200%, #d61c13 45%, rgba(230,230,230,0) 50%);
}

#buttonMinimize{
    -fx-background-color: #F5BC5F,linear-gradient(#DC812E 50%, white 100%),radial-gradient(center 50% -40%, radius 200%, #efb923 45%, rgba(230,230,230,0) 50%);
}

#sendFile {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 50;
    -fx-background-insets: 0;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-font-style: italic;
    -fx-padding: 10 20 10 20;
}

#btnSource,#btnRules,#btnCSV {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.prgs-indicator .percentage {
   -fx-fill:null;
}

.os-info{
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
}

.timeShareTitle{
    -fx-font-family: "Helvetica";
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
/*    -fx-text-shadow:
	1px 1px 0 #CCC,
	2px 2px 0 #CCC,  end of 2 level deep grey shadow 
	3px 3px 0 #444,
	4px 4px 0 #444,
	5px 5px 0 #444,
	6px 6px 0 #444;  end of 4 level deep dark shadow */
}
